body, header, img, nav, ul, li, aside, h2, section, h1, figure, 
figcaption, a, ol, p, form, label, input, option, textarea, footer {
  margin: 0;
  padding: 0;
  border: 0; 
  
  font: inherit;
  vertical-align: baseline;  
}

ol, ul {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  /* width: 100%; */
}